# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Production builds
dist/
build/
out/

# Environment variables
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
*.pem

# IDE
.vscode/
.idea/

# Misc
*.tsbuildinfo
